.base{
    font-size: 75px;
    position: absolute;
    top:0;
    margin: 0px 0px 0px 280px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    background-color: #242121;
}

.tasks{
    top:0;
    margin: 100px 0px 0px 500px;
    color: red;
    position: absolute;
}

.tablemy{
    top:0;
    margin: 150px 0px 0px 300px;
    position: absolute;
}

.styledbox{
    top:0;
    margin: 250px 0px 0px 320px;
    position: absolute;
    background-color: cornflowerblue;
}