{% extends "base.html" %}
{% block body %}

<h4 class="tasks display-4" style = "text-align: center;"> Add a Task </h4>


    <form action="{{url_for('lister.AddTask')}}" method="POST" style = "top:0; margin: 195px 0px 0px 270px; position: absolute; padding: 10px 10px 10px 10px;">
        <div class="form-group">
          <label for="Title"> Title </label>
          <input type="text" class="form-control" id="Title" aria-describedby="emailHelp" placeholder="Enter Task name" name = "Title">
          
        </div>
        <div class="form-group">
          <label for="Description">Description</label>
          <input type="text" class="form-control" id="Description" placeholder="Description of task" name = "Description">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  
</form>


{% endblock %}