<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>List Manager</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type = "text/css" rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        
    </head>
    <body>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
              
                <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="height: 840px; width:280px;">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                  <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
                  <span class="fs-4">Sidebar</span>
                </a>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                  <li>
                    <a href="#" class="nav-link text-white">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
                      Today's Tasks
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
                      This Week's Schedule
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
                      Add a Task
                    </a>
                  </li>
                  <li>
                    <a href="#" class="nav-link text-white">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"/></svg>
                      History
                    </a>
                  </li>
                <!--  <li>
                    <a href="#" class="nav-link text-white">
                      <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
                      Customers
                    </a>
                  </li> -->
                </ul>
                <hr>
            <!--    <div class="dropdown">
                  <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div> -->
              </div> 
        <div class = "base bg-dark">List Manager</div>  
        
        


        <h4 class="tasks display-4">Tasks to be done today</h4>
        <p>
          <table class="tablemy table table-striped">
            <thead class="thead-dark">
            <tr>
              <th scope="col"> Date </th>
              <th scope="col"> Task Name  </th>
              <th scope="col"> Description </th>
            </tr>
            </thead>
            {% for date, task, description in values %}
            <tr>              
              <td scope="row">{{date}}</td>
              <td >{{task}}</td>
              <td >{{description}}</td>
            </tr>
            {%endfor%}
          </table>

          {% for date, task, description in values %}
            <div class = "styledbox">
              <p>{{date}}</p>
              <p>{{task}}</p>
              <p>{{description}}</p>
            </div>
          {%endfor%}
        </p>





 
        
    </body>
</html>
